- var document_root = "https://0sw.in/"

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block header-sharing
			meta(property='og:title', content='Nicolas "0swin" Roger - Portfolio')
			meta(property='og:type', content='website')
			meta(property="og:url" content=document_root)
			meta(property="og:image" content=document_root + "hrsrc/pictures/opengraphimage.jpg")
			meta(property='og:image:width', content='1200')
			meta(property='og:image:height', content='628')
			meta(property='og:description', content="Étudiant de 18 ans en deuxième année de direction artistique à e-artsup, je m'intéresse notamment au web, au design interactif et au motion design.")
			meta(property='fb:app_id', content='966242223397117')
			meta(name='twitter:card', content='summary_large_image')
			meta(name='twitter:title', content='Nicolas "0swin" Roger - Portfolio')
			meta(name='twitter:description', content="Étudiant de 18 ans en deuxième année de direction artistique à e-artsup, je m'intéresse notamment au web, au design interactif et au motion design.")
			meta(name='twitter:url', content=document_root)
			meta(name='twitter:image', content=document_root + 'rsrc/pictures/opengraphimage.jpg')
		link(rel="stylesheet", href=document_root + "css/reset.min.css")
		link(rel="stylesheet", href=document_root + "css/bootstrap.css")
		link(rel="stylesheet", href=document_root + "css/app.css")
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Montserrat")
		title Nicolas "0swin" Roger

body
	block navbar
		.navbar.navbar-dark.fixed-top.navbar-expand-lg
			include _navbar.pug
	block content
block scripts
	include _scripts.pug